In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# Any results you write to the current directory are saved as output.

/kaggle/input/walmart-recruiting-store-sales-forecasting/train.csv
/kaggle/input/walmart-recruiting-store-sales-forecasting/sampleSubmission.csv
/kaggle/input/walmart-recruiting-store-sales-forecasting/stores.csv
/kaggle/input/walmart-recruiting-store-sales-forecasting/test.csv
/kaggle/input/walmart-recruiting-store-sales-forecasting/features.csv

In [2]:
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

%matplotlib inline

plt.rcParams["figure.figsize"] = (18,8)

In [3]:
train = pd.read_csv('/kaggle/input/walmart-recruiting-store-sales-forecasting/train.csv', parse_dates=['Date'])
test = pd.read_csv('/kaggle/input/walmart-recruiting-store-sales-forecasting/test.csv', parse_dates=['Date'])
stores = pd.read_csv('/kaggle/input/walmart-recruiting-store-sales-forecasting/stores.csv')
sampleSubmission = pd.read_csv('/kaggle/input/walmart-recruiting-store-sales-forecasting/sampleSubmission.csv')

In [4]:
train['year'] = train['Date'].dt.year
train['month'] = train['Date'].dt.month
train['day'] = train['Date'].dt.day
train['week'] = train['Date'].dt.week

In [5]:
train['num_week'] = np.ceil(train['day'] / 7)

In [6]:
train['num_week'].value_counts()

2.0    97355
1.0    97322
3.0    97261
4.0    97239
5.0    32393
Name: num_week, dtype: int64

In [7]:
test['year'] = test['Date'].dt.year
test['month'] = test['Date'].dt.month
test['day'] = test['Date'].dt.day
test['week'] = test['Date'].dt.week

In [8]:
test['num_week'] = np.ceil(test['day'] / 7)

In [9]:
test['num_week'].value_counts()

3.0    26597
1.0    26564
2.0    26563
4.0    26506
5.0     8834
Name: num_week, dtype: int64

In [10]:
train.head()

,Store,Dept,Date,Weekly_Sales,IsHoliday,year,month,day,week,num_week
0,1,1,2010-02-05,24924.50,False,2010,2,5,5,1.0
1,1,1,2010-02-12,46039.49,True,2010,2,12,6,2.0
2,1,1,2010-02-19,41595.55,False,2010,2,19,7,3.0
3,1,1,2010-02-26,19403.54,False,2010,2,26,8,4.0
4,1,1,2010-03-05,21827.90,False,2010,3,5,9,1.0

In [11]:
stores['Code'] = stores['Type'].astype('category').cat.codes

In [12]:
train = pd.merge(train, stores, how='left')

In [13]:
test= pd.merge(test, stores, how='left')

In [14]:
train.head()

,Store,Dept,Date,Weekly_Sales,IsHoliday,year,month,day,week,num_week,Type,Size,Code
0,1,1,2010-02-05,24924.50,False,2010,2,5,5,1.0,A,151315,0
1,1,1,2010-02-12,46039.49,True,2010,2,12,6,2.0,A,151315,0
2,1,1,2010-02-19,41595.55,False,2010,2,19,7,3.0,A,151315,0
3,1,1,2010-02-26,19403.54,False,2010,2,26,8,4.0,A,151315,0
4,1,1,2010-03-05,21827.90,False,2010,3,5,9,1.0,A,151315,0

In [15]:
test.head()

,Store,Dept,Date,IsHoliday,year,month,day,week,num_week,Type,Size,Code
0,1,1,2012-11-02,False,2012,11,2,44,1.0,A,151315,0
1,1,1,2012-11-09,False,2012,11,9,45,2.0,A,151315,0
2,1,1,2012-11-16,False,2012,11,16,46,3.0,A,151315,0
3,1,1,2012-11-23,True,2012,11,23,47,4.0,A,151315,0
4,1,1,2012-11-30,False,2012,11,30,48,5.0,A,151315,0

In [16]:
train['Weekly_Sales'].describe()

count    421570.000000
mean      15981.258123
std       22711.183519
min       -4988.940000
25%        2079.650000
50%        7612.030000
75%       20205.852500
max      693099.360000
Name: Weekly_Sales, dtype: float64

In [17]:
misc = 1100

In [18]:
train_1 = train[train['Weekly_Sales'] >-misc]

In [19]:
train_1.sort_values(by='Weekly_Sales', ascending=False).tail(30)

,Store,Dept,Date,Weekly_Sales,IsHoliday,year,month,day,week,num_week,Type,Size,Code
183074,19,47,2011-04-15,-499.00,False,2011,4,15,15,3.0,A,203819,0
153908,16,47,2011-02-11,-500.00,True,2011,2,11,6,2.0,B,57197,1
93586,10,47,2011-03-11,-515.00,False,2011,3,11,10,2.0,B,126512,1
376930,40,48,2011-07-01,-543.00,False,2011,7,1,26,1.0,A,155083,0
113837,12,47,2012-05-11,-548.00,False,2012,5,11,19,2.0,B,112238,1
113820,12,47,2010-03-26,-548.14,False,2010,3,26,12,4.0,B,112238,1
155677,16,80,2011-07-15,-590.04,False,2011,7,15,28,3.0,B,57197,1
103848,11,47,2011-06-24,-594.00,False,2011,6,24,25,4.0,A,207499,0
113819,12,47,2010-03-12,-598.00,False,2010,3,12,10,2.0,B,112238,1
326511,34,47,2011-10-21,-598.00,False,2011,10,21,42,3.0,A,158114,0
193314,20,47,2010-12-03,-598.00,False,2010,12,3,48,1.0,A,203742,0
193313,20,47,2010-09-10,-598.00,True,2010,9,10,36,2.0,A,203742,0
183087,19,47,2012-08-24,-649.00,False,2012,8,24,34,4.0,A,203819,0
183079,19,47,2011-12-23,-649.00,False,2011,12,23,51,4.0,A,203819,0
309907,32,47,2010-12-31,-698.00,True,2010,12,31,52,5.0,A,203007,0
54835,6,47,2010-04-30,-698.00,False,2010,4,30,17,5.0,A,202505,0
6049,1,47,2010-03-12,-698.00,False,2010,3,12,10,2.0,A,151315,0
273030,28,47,2010-12-03,-705.00,False,2010,12,3,48,1.0,A,206302,0
332894,35,16,2012-08-24,-771.90,False,2012,8,24,34,4.0,B,103681,1
193320,20,47,2011-07-01,-778.50,False,2011,7,1,26,1.0,A,203742,0
193325,20,47,2011-12-30,-798.00,True,2011,12,30,52,5.0,A,203742,0
93581,10,47,2010-10-15,-798.00,False,2010,10,15,41,3.0,B,126512,1
93573,10,47,2010-03-05,-798.00,False,2010,3,5,9,1.0,B,126512,1
93591,10,47,2011-08-05,-798.00,False,2011,8,5,31,1.0,B,126512,1
6048,1,47,2010-02-19,-863.00,False,2010,2,19,7,3.0,A,151315,0
35561,4,47,2010-09-17,-898.00,False,2010,9,17,37,3.0,A,205863,0
24830,3,32,2011-09-30,-1008.96,False,2011,9,30,39,5.0,B,37392,1
16297,2,47,2010-11-19,-1098.00,False,2010,11,19,46,3.0,A,202307,0
16295,2,47,2010-10-15,-1098.00,False,2010,10,15,41,3.0,A,202307,0
16291,2,47,2010-07-30,-1098.00,False,2010,7,30,30,5.0,A,202307,0

In [20]:
train_1['Weekly_Sales_log'] = np.log1p(train_1['Weekly_Sales'] + misc)

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [21]:
train_1.head()

,Store,Dept,Date,Weekly_Sales,IsHoliday,year,month,day,week,num_week,Type,Size,Code,Weekly_Sales_log
0,1,1,2010-02-05,24924.50,False,2010,2,5,5,1.0,A,151315,0,10.166832
1,1,1,2010-02-12,46039.49,True,2010,2,12,6,2.0,A,151315,0,10.760888
2,1,1,2010-02-19,41595.55,False,2010,2,19,7,3.0,A,151315,0,10.661873
3,1,1,2010-02-26,19403.54,False,2010,2,26,8,4.0,A,151315,0,9.928402
4,1,1,2010-03-05,21827.90,False,2010,3,5,9,1.0,A,151315,0,10.040153

## Make Prediction

In [22]:
feature = ['Store', 'Dept', 'IsHoliday', 'month', 'year', 'day', 'Code', 'Size', 'week', 'num_week']
label = ['Weekly_Sales_log']

In [23]:
# from sklearn.ensemble import RandomForestRegressor

In [24]:
# rfr = RandomForestRegressor(n_estimators=100, random_state=30, n_jobs=4)

In [25]:
from lightgbm import LGBMRegressor

In [26]:
# rfr = LGBMRegressor(colsample_bytree=0.8, subsample=0.8, num_leaves=4000, n_estimators=130, reg_lambda=4, reg_alpha=0.5)

In [27]:
rfr = LGBMRegressor(colsample_bytree=0.8, 
                    subsample=0.8, 
                    num_leaves=4000, 
                    n_estimators=520, 
                    min_child_weight=0.05, 
                    class_weight='balanced',
                    importance_type='gain',
                    objective='regression',
                    learning_rate=0.025,
                    )

In [28]:
rfr

LGBMRegressor(boosting_type='gbdt', class_weight='balanced',
              colsample_bytree=0.8, importance_type='gain', learning_rate=0.025,
              max_depth=-1, min_child_samples=20, min_child_weight=0.05,
              min_split_gain=0.0, n_estimators=520, n_jobs=-1, num_leaves=4000,
              objective='regression', random_state=None, reg_alpha=0.0,
              reg_lambda=0.0, silent=True, subsample=0.8,
              subsample_for_bin=200000, subsample_freq=0)

In [29]:
x_train = train_1[feature]
y_train = train_1[label]
x_test = test[feature]

In [30]:
rfr.fit(x_train, y_train)

LGBMRegressor(boosting_type='gbdt', class_weight='balanced',
              colsample_bytree=0.8, importance_type='gain', learning_rate=0.025,
              max_depth=-1, min_child_samples=20, min_child_weight=0.05,
              min_split_gain=0.0, n_estimators=520, n_jobs=-1, num_leaves=4000,
              objective='regression', random_state=None, reg_alpha=0.0,
              reg_lambda=0.0, silent=True, subsample=0.8,
              subsample_for_bin=200000, subsample_freq=0)

In [31]:
prediction = rfr.predict(x_test)

In [32]:
prediction = np.expm1(prediction)-misc

In [33]:
rfr.feature_importances_

array([9.39818307e+05, 7.57817398e+06, 7.51865300e+03, 1.18020746e+05,
       4.09256445e+04, 5.43447055e+04, 4.41891149e+05, 1.72917222e+06,
       2.43500285e+05, 4.83335954e+03])

In [34]:
# from sklearn.metrics import accuracy_score

In [35]:
# accuracy = accuracy_score(x_train)

In [36]:
sampleSubmission['Weekly_Sales'] = prediction

In [37]:
sampleSubmission.to_csv('sampleSubmission.csv', index=False)